:root {
  font-size: clamp(11px, 4vw, 18px);
  --text: #412e29;
  --border: #93a69b;
  --bold: 400;
  --regular: 300;
}
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1;
  -webkit-tap-highlight-color: transparent;
  font-family: Fraunces, serif;
  font-weight: var(--regular);
  letter-spacing: 0.1em;
  z-index: 2;
}
@font-face {
    font-family: "Fraunces";
    src: url("assets/fonts/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
}
@font-face {
    font-family: "Fraunces";
    src: url("assets/fonts/Fraunces-Italic-VariableFont_SOFT,WONK,opsz,wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: italic;
}
@font-face {
    font-family: "Great Vibes";
    src: url("assets/fonts/GreatVibes-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

img {
  display: inline-block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: var(--text);
}

/* ====================================== */

body {
  background: rgb(245, 223, 226);
  background-image: url(./assets/bg.avif);
  background-size:cover;

  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  align-items: center;
}
.invitation-section {
  display: flex;
  justify-content: center;
}
.img {
  max-width: min(100%, 530px);
  box-shadow: 0 0.5rem 20px rgba(0, 0, 0, 0.15);
}
/* === */

.details-card {
  background: rgb(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
  width: min(100%, 400px);
  align-self: stretch;
  margin: 3rem auto;
  box-shadow: 0 0.5rem 20px rgba(0, 0, 0, 0.15);
  padding: 1rem;
  border-radius: 1rem;

}
.title {
  font-size: 1.5rem;
  font-family: 'Fraunces', sans-serif;
  font-style: italic;
  font-weight: 400;
  color: var(--text);
  margin-bottom: 0.5em;
  margin-top: 0.5rem;
}
.contacts {
  margin-bottom: 1rem;
  display: grid;
  gap: 0.5em;
  font-style: italic;
}
.contact a {
  color: #7d9788;
  font-weight: 400;
}
.location {
  border: 0; 
  width: 100%; 
  aspect-ratio: 3 / 1;
}

@media screen and (min-width: 580px) {
  .invitation-section {
    padding-top: clamp(1rem, 3vw, 3rem);
  }
}
